# ---------------------------------
# Игнорируем всё по умолчанию
# ---------------------------------
*

# ---------------------------------
# Разрешаем только нужные файлы
# ---------------------------------
!.gitignore
!bot.py

# если будет папка src — добавишь позже
#!src/
#!src/**

# если будет requirements
!requirements.txt
!README.md

# ---------------------------------
# Разрешаем папки только если нужно
# ---------------------------------
#!docs/
#!docs/**

# ---------------------------------
# Никогда не пушим
# ---------------------------------
accounts.py
*.session
*.session-journal
*.db
*.sqlite
*.sqlite3
